node-red.txt
[{"id":"5f747ecb.0d19e8","type":"tab","label":"Flow 1"},{"id":"14c8a0ed.08ea97","type":"tab","label":"Flow 2"},{"id":"d451b602.e51168","type":"chatbot-telegram-node","z":"","botname":"","usernames":"","polling":"1000","log":""},{"id":"3bd32d8e.af2ab2","type":"chatbot-telegram-node","z":"","botname":"Klingelstreich_Bot","usernames":"","polling":"1000","log":""},{"id":"bfed9bb1.b27b38","type":"chatbot-message","z":"5f747ecb.0d19e8","name":"test","message":[{"message":"Dein Paket kommt am 24. Juni 2017 an."}],"answer":false,"track":false,"parse_mode":"","x":1200,"y":250,"wires":[["b75881d7.c10b38","b53463f5.79f648"]]},{"id":"3d6a9392.cd41ac","type":"chatbot-conversation","z":"5f747ecb.0d19e8","name":"test","chatId":"62286762","transport":"telegram","messageId":"","contextMessageId":false,"x":1046.25,"y":323.75,"wires":[["a8e58da.b177c7"]]},{"id":"a8e58da.b177c7","type":"chatbot-message","z":"5f747ecb.0d19e8","name":"test","message":[{"message":"Dein Paket kommt am 30. Juni 2017 an."}],"answer":false,"track":false,"parse_mode":"","x":1186.25,"y":315,"wires":[["b75881d7.c10b38","b53463f5.79f648"]]},{"id":"821980dc.a868a","type":"chatbot-conversation","z":"5f747ecb.0d19e8","name":"test","chatId":"62286762","transport":"telegram","messageId":"","contextMessageId":false,"x":1053.75,"y":397.5,"wires":[["5611044b.471a34"]]},{"id":"5611044b.471a34","type":"chatbot-message","z":"5f747ecb.0d19e8","name":"test","message":[{"message":"Dein Paket kommt am 28. Juni 2017 an."}],"answer":false,"track":false,"parse_mode":"","x":1193.75,"y":388.75,"wires":[["b75881d7.c10b38","b53463f5.79f648"]]},{"id":"563291ff.5f153","type":"chatbot-conversation","z":"5f747ecb.0d19e8","name":"test","chatId":"62286762","transport":"telegram","messageId":"","contextMessageId":false,"x":1061.25,"y":460,"wires":[["1ee05168.b318bf"]]},{"id":"1ee05168.b318bf","type":"chatbot-message","z":"5f747ecb.0d19e8","name":"test","message":[{"message":"Dein Paket kommt am 14. Juli 2017 an."}],"answer":false,"track":false,"parse_mode":"","x":1201.25,"y":451.25,"wires":[["b75881d7.c10b38","b53463f5.79f648"]]},{"id":"86c86d4b.62e59","type":"debug","z":"5f747ecb.0d19e8","name":"","active":true,"console":"false","complete":"false","x":628,"y":273.125,"wires":[]},{"id":"df254138.fb80b8","type":"chatbot-telegram-receive","z":"5f747ecb.0d19e8","bot":"3bd32d8e.af2ab2","x":209,"y":257,"wires":[["86c86d4b.62e59","2785cc3c.308e2c"]]},{"id":"b75881d7.c10b38","type":"chatbot-telegram-send","z":"5f747ecb.0d19e8","bot":"3bd32d8e.af2ab2","track":true,"outputs":1,"x":1467,"y":675,"wires":[[]]},{"id":"2785cc3c.308e2c","type":"chatbot-parse","z":"5f747ecb.0d19e8","name":"test","parseType":"number-integer","parseVariable":"paket","x":493,"y":390,"wires":[["263e98de.c5de88"],[]]},{"id":"263e98de.c5de88","type":"chatbot-context","z":"5f747ecb.0d19e8","command":"get","fieldValue":"","fieldType":"str","fieldName":"paket","x":604.9999999999999,"y":482.4999999999999,"wires":[["86c86d4b.62e59","5f71856f.45cd54"]]},{"id":"5f71856f.45cd54","type":"switch","z":"5f747ecb.0d19e8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"}],"checkall":"true","outputs":4,"x":872.9999999999998,"y":369.4999999999999,"wires":[["f69a1054.6606a"],["3d6a9392.cd41ac"],["821980dc.a868a"],["563291ff.5f153"]]},{"id":"cf0ceeca.501c58","type":"chatbot-inline-buttons","z":"5f747ecb.0d19e8","name":"test","answers":[{"value":"","label":"Ja","answer":null,"url":"","image_url":"","alert":false,"newLine":false},{"value":"","label":"Nein","answer":null,"url":"","image_url":"","alert":false,"newLine":false}],"message":"Bist du an diesem Tag Zuhause?","x":1041,"y":766.5,"wires":[["b75881d7.c10b38"]]},{"id":"b53463f5.79f648","type":"delay","z":"5f747ecb.0d19e8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1031,"y":606.5,"wires":[["fa2f232e.2bd82"]]},{"id":"f69a1054.6606a","type":"chatbot-conversation","z":"5f747ecb.0d19e8","name":"test","chatId":"62286762","transport":"telegram","messageId":"","contextMessageId":false,"x":1056,"y":240,"wires":[["bfed9bb1.b27b38"]]},{"id":"fa2f232e.2bd82","type":"chatbot-conversation","z":"5f747ecb.0d19e8","name":"test","chatId":"62286762","transport":"telegram","messageId":"","contextMessageId":false,"x":950,"y":700,"wires":[["cf0ceeca.501c58"]]}]
